/* Universal styles */

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 44px;
    font-weight: 500;
}

h3 {
    font-size: 32px;
    font-weight: 400;
}

h4 {
    font-size: 24px;
    font-weight: 300;
}

body {
    margin: 0;
}


/* Navigation Bar */

header {
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    z-index: 100;
}

.title {
    display: flex;
    align-items: center;
    height: 64px;
    position: absolute;
    left: 24px;
}

.logo {
    height: 80%;
}

.light {
    font-weight: 100;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

ul li {
    display: inline;
    font-size: 16px;
    margin-left: 16px;
}

a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: grey;
}

/* Welcome section */

.welcome-section {
    background-color: grey;
    position: relative;
    top: 64px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.image-container {
    width: 60%;
    height: 100%;
    padding: 32px 24px;
    box-sizing: border-box;
}

.banner {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 32px 0;
}

.button {
    background-color: darkslategray;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}

.content h4, .content h1, .content a {
    margin: 12px 0;
}

.button:hover {
    background-color: dimgray;
}

/* Information-section */

.information-section {
    background-color: white;
    position: relative;
    top: 64px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 650px;
    margin: 2px 0;
}

.main {
    width: 60%;
    padding: 32px 24px;
    position: relative;
    box-sizing: border-box;
}

        .main-image {
            width: 100%;
            height: auto;
            margin-bottom: 32px;
}

        .main h1 {
            padding: 0;
            margin: 0;
}

        .quote {
            font-weight: 300;
        }

        .author {
            position: relative;
            bottom: -16px;
}

.blog {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid grey;
}

        .container {
            padding: 16px;
            display: flex;
            align-items: center;
            align-content: space-around;
            width: 100%;
            box-sizing: border-box;
            max-height: 200px;
}

        .orientation {
            border-bottom: 3px double grey;
}

        .guest-lecture {
            background-color: grey;
}

        .blog-image {
            width: 35%;
            height: 100%;
            max-height: 168px;
            max-width: 168px;
}

        .container .content {
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 16px;
}

        .container h3, .container p, .container a {
            margin: 4px 0;
            padding: 0;
}
        .read-more {
            color: skyblue;
            text-decoration: none;
}

        .read-more:hover {
            color:darkgrey;
        }


/* Domains Section */

